@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.main-container {
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 5rem;
  padding-bottom: 1rem;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}
.dp {
  margin-bottom: 2rem;
}
.dp img {
  width: 200px;
  /* height: 250px; */
  border-radius: 50%;
}
.inner-container button {
  display: block;
  margin: auto;
  padding: 0.8rem 2.5rem;
  background: #1a237e;
  outline: none;
  border-radius: 5px;
  border: none;
  color: #fafafa;
  cursor: pointer;
  width: auto;
  transition: all 0.1s ease-in;
}
.inner-container button:hover {
  transform: scale(1.05);
}
.view {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.inner-container p {
  text-align: center;
  color: #90a4ae;
}
.inner-container h1 {
  color: #1a237e;
}
.links {
  margin-top: 2rem;
  width: 100%;
  border-top: 1px solid grey;
  text-align: left;
  padding: 1rem;
}
.links a {
  text-decoration: none;
  color: #1a237e;
}

.search {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  margin-left: 4rem;
}
.search input {
  border: none;
  background: #1a237e;
  color: white;
  outline: none;
  height: 2rem;
  margin: 1rem;
  font-size: larger;
  padding: 0 1rem;
}

.search button {
  border: none;
  outline: none;
  color: white;
  background: #1a237e;
  cursor: pointer;
  height: 2rem;
  margin: 1rem;
  width: 5rem;
  font-size: larger;
}

.search button:hover {
  background-color: rgb(226, 109, 109);
  color: #1a237e;
}
